@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?39674265');
  src: url('../font/fontello.eot?39674265#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?39674265') format('woff2'),
       url('../font/fontello.woff?39674265') format('woff'),
       url('../font/fontello.ttf?39674265') format('truetype'),
       url('../font/fontello.svg?39674265#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39674265#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-location:before { content: '\e800'; } /* '' */
.icon-left-dir:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-play-circled2:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-cc-jcb:before { content: '\f24b'; } /* '' */
.icon-cc-diners-club:before { content: '\f24c'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */ '' */


html {
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: "Lato", sans-serif;
}

.center-wrapper {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  font-size: 0;
  position: relative;
  background-color: #f3f3f3;
}

.header-top {
  padding: 17px 0 25px;
  background-color: #222222;
  
}

.header-col {
  font-size: 1rem;
  display: block;
  vertical-align: top;
}

.header-col-right {
  text-align: center;
}

.logo {
  text-align: center;
}

.account-menu,
.form-search,
.basket {
  display: inline-block;
  vertical-align: top;
}

.menu{
  font-size: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}

.menu li a {
  text-decoration: none;
}

.account-menu {
  margin-bottom: 15px;
  margin-top: 15px;
  
}

.account-menu li{
  margin-bottom: 10px;
}

.account-menu .menu a{
  display: block;
  font-size: 0.75rem;
  line-height: 0.813rem;
  padding: 0 15px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}

.account-menu .menu li:last-child a {
  padding-right: 0;
  border-right: 0; 
}

.form-search {
  font-size: 1rem;
  position: relative;
  width: 100%;
  height: 30px;
  margin-right: 4.790%;
  margin-bottom: 15px;
}

.search,
.btn-search {
  position: absolute;
  height: 100%;
  border: 0;
}

.search {
  font-size: 1rem;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 80.769%;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 0.938rem;
  color: #a7a7a7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}

.btn-search {
  text-align: center;
  color: #ffffff;
  top: 0;
  right: 0;
  width: 19.231%;
  border-radius: 0 5px 5px 0;
  background-color: #f10e34;
  cursor: pointer;
}



.basket-btn,
.basket-price{
  display: inline-block;
  vertical-align: top;
}

.basket-btn {
  font-size: 0.938rem;
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  color: #ffffff;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #f10e34;
  cursor: pointer;
}

.basket-price {
  font-size: 0.688rem;
  line-height: 1.032rem;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 0.813rem;
}

.basket-price b{
  font-size: 0.875rem;
  font-weight: 700;
}


.header-bottom {
  font-size: 0;
  padding: 0;
  background-color: #f10e34;
}

.header-bottom .header-col {
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-btn {
  position: relative;
  display: block;
  padding-left: 16.418%;
  padding-top: 0.813rem;
  padding-bottom: 0.813rem;
}

.ctrl {
  display: none;
}


.icon-list-bullet {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-bottom .header-col-right {
  display: none;
}

.content-ctrl {
  position: absolute;
  top: 1%;
  display: block;
  width: 30px;
  height: 70px;
  background-color: #ccc;
}

.content-ctrl-left {
  left: 0;
  border-radius: 0 15px 15px 0;
}

.content-ctrl-right {
  display: none;
  right: 0;
  border-radius: 15px 0 0 15px;
}

.sidebar {
  display: block;
}

.content-check {
  display: none;
}




.sidebar-menu{
  display: none;
  margin-bottom: 32px;
  background-color: #ffffff;
  padding: 0 5.055%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
}

.ctrl:checked ~ .sidebar-menu {
  display: block;
}

.sidebar-menu .menu li{
  display: block;
  border-bottom: 1px solid #ccc;
}

.sidebar-menu .menu li:last-child {
  border-bottom: 0;
}

.sidebar-menu .menu a{
  position: relative;
  font-size: 0.938rem;
  line-height: 1.5rem;
  display: block;
  padding: 13px 0 13px 14.985%;
  color: #222222;
}

.sidebar-menu .icon {
  position: absolute;
  top: 50%;
  left: 3.745%;
  transform: translateY(-50%);
  color: #a6a6a6;
}

.box {
  margin-bottom: 20px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  padding: 0 8.418% 13.470%;
  background-color: #ffffff;
}

.sidebar-box {
  display: none;
}

.sidebar-promo {
  display: none;
}

.content-check:checked ~ .content-ctrl-left,
.content-check:checked ~ .content{
  display: none;
}

.content-check:checked ~ .content-ctrl-right,
.content-check:checked ~ .sidebar .sidebar-box,
.content-check:checked ~ .sidebar .sidebar-promo {
  display: block;
}

.sidebar-box:last-child {
  margin-bottom: 0;
}

.box-top {
  position: relative;
  padding: 24px 25px 24px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.box-title {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 0;
  text-transform: uppercase;
}

.control {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.control a{
  font-size: 1rem;
  display: block;
  vertical-align: top;
  text-align: center;
  line-height: 22px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f10e34;
}

.control-left {
  margin-bottom: 5px;
  
}

.control .icon::before {
  text-align: center;
  font-size: 0.835rem;
  color: #ffffff;
}

.sidebar-box img,
.box-item img{
  margin-bottom: 5px;
}

.img {
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.desc {
  text-align: center;
  padding-right: 5%;
  margin-bottom: 10px;
}

.desc-text {
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #3d3d3d;
  margin: 0;
}

.price-old {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #636363;
  text-decoration: line-through;
  margin-right: 10px;
}

.price-new {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000000;
}

.mark {
  font-size: 0;
  padding: 0;
}

.mark-item {
  font-size: 0.8rem;
  display: inline-block;
  line-height: 16px;
  width: 16px;
  height: 16px;
  color: #ffc808;
  margin-top: 2px;
}

.mark-item:last-child {
  margin-right: 0;
}

.subscribe {
  padding-bottom: 0;
}

.subscribe .box-top {
  margin-bottom: 20px;
  padding: 23px 0 15px 0;
}

.subscribe-title {
  font-size: 0.938rem;
  line-height: 1.5em;
  color: #3d3d3d;
  text-align: left;
}

.email-field {
  font-size: 1rem;
  color: #a7a7a7;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  border-radius: 5px;
  border: 0;
  margin:20px 0;
  background-color: #f3f3f3;
}

.subscribe-btn {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 700;
  border: 0;
  padding: 11px 0;
  width: 54%;
  border-radius: 20px;
  text-transform: uppercase;
  color: #ffffff;  
  background-color: #f22f49;
  margin-bottom: 30px;
}

.sidebar-promo {
  padding: 0;
}

.content .content-box {
  padding: 0 21px 4.11%;
}

.content-banner {
  background-color: #ffd180;
  padding: 0;
  padding-top: 1px;
  margin-bottom: 37px;
}

.banner-desc {
  margin-top: 35px;
}

.banner-desc span {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
}

.big-text {
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #303a7a;
}

.huge-text {
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  margin-top: 30px;
}

.little-text {
  font-size: 1.371rem;
  line-height: 1.371rem;
  color: #ffffff;
  margin-top: 10px;
}

.banner-btn {
  font-size: 1.086rem;
  line-height: 1.086rem;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 10px;
  width: 50.068%;
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  margin: 15px auto 0;
}


.promo-feature {
  font-size: 0;
  color: #ffffff;
  background-color: #f10e34;
  margin-top: 35px;
  padding: 10px 0 10px;
}

.feature-item {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
}

.feature-item:last-child {
  border: 0;
}

.feature-title {
  font-size: 0.938rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.feature-desc {
  font-size: 0.938rem;
  font-weight: 400;
  margin: 0;
}


.content-box .grade {
  margin: 10px 0 0;
}


.grade a {
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-right: 10px;
  color: #3d3d3d;
}

.grade li:last-child a {
  padding-right: 0;
}

.box-item {
  text-align: center;
}

.content-promo {
  text-align: right;
  box-sizing: border-box;
  min-height: 225px;
  padding: 0;
  padding-right: 2.308%;
  background-color: #ffffff;
  padding-top: 1px;
}

.content-promo-left {
  background: 
    url("../img/bg-promo.png") 92% 28% no-repeat,
    linear-gradient(105deg, transparent 0, transparent 49%, #fff 49.5%, #fff 100%), 
    url("../img/promo-bg-1.jpg") 0 -2px no-repeat;
    background-size: 30.303% auto, auto, auto;
}

.content-promo-right {
  background: 
    url("../img/bg-promo.png") 92% 28% no-repeat,
    linear-gradient(105deg, transparent 0, transparent 49%, #fff 49.5%, #fff 100%), 
    url("../img/promo-bg-2.jpg") 0 -2px no-repeat;
    background-size: 30.303% auto, auto, auto;
}

.promo-btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  font-weight: 900;
  margin-top: 21px;
  padding: 0 5px; 
  font-size: 0.938rem;
  line-height: 0.938rem;
  color: #108be9;
  cursor: pointer;
  box-shadow: 0 6px 0px -5px #108be9;
}

.footnote {
  font-size: 0.85rem;
  color: #d9d7d8;
  margin-top: 15px;
  text-transform: lowercase;
}

.footnote-up {
  font-size: 20px;
  vertical-align: sub;
}


.promo-desc {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #000000;
  margin-top: 96px;
}

.promo-box {
  margin-bottom: 25px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 33px 1.2% 38px 0;
}


.promo-box .col-right {
  margin-top: 5px;
  text-align: center;
  font-size: 1.375rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-box .col-right span{
  display: block;
  font-weight: 900;
  color: #0f8ce9;
  margin-top: 10px;
}

.promo-box-btn {
  display: inline-block;
  border-radius: 20px;
  padding: 11px 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  margin-top: 25px;
  background-color: #f22f49;
}

.feature-box {
  padding: 0 21px 48px;
  margin-bottom: 45px;
}

.feature-img,
.feature-box .desc{
  display: inline-block;
  vertical-align: top;
}


.feature-img {
  margin-right: 8.403%;
}

.feature-img img {
  margin-bottom: 0;
}

.feature-box .box-item {
  display: inline-block;
  width: 50%;
}

.feature-box .box-item  .desc-text{
  font-size: 0.781rem;
}

.feature-box div:nth-of-type(n+5) {
  margin-top: 25px;
}


.brand {
  background-color: #f10e34;
  text-align: center;
  padding: 20px 0;
}

.brand-item {
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  margin-right: 12%;
  margin-bottom: 15px;
}

.brand-item:nth-child(2n) {
  margin-right: 0;
}

.brand-item:last-child {
  margin-right: 0;
}

.footer-top {
  font-size: 0;
  background-color: #222222;
  color: #b6b6b6;
  padding: 60px 0 90px;
}

.footer-logo {
  width: 59.145%;
}

.footer-item {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  box-sizing: border-box;
  text-align: left;
}

.footer-item h2 {
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-desc {
  margin-top: 0.938rem;
  margin-bottom: 1.563rem;
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item li {
  position: relative;
  padding-left: 30px;
  line-height: 1.875rem;
}

.contact .icon,
.info-list .icon,
.social .icon,
.timetable-text .icon{
  position: absolute;
  top: 0;
  left: 0;
/*  transform: translateY(-50%);*/
  color: #dc1032;
}

footer .info {
  padding-left: 5%;
}

.info-list li{
  padding-left: 0;
}

footer .social {
  font-size: 0;
  padding-left: 1.5%;
}

.footer-item .social-list{
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: inline-block;
  padding-right: 27.35%;
}

.footer-item .social-list:last-child {
  padding-right: 0;
}

.timetable {
  padding-left: 4%;
}


.timetable-text {
  position: relative;
  padding-left: 30px;
  margin-bottom: 60px;
}


.payment li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-right: 25px;
}

.payment .icon::before {
  text-align: left;
  margin: 0;
  display: inline-block;
  font-size: 2.1rem;
  color: #dc1032;
}
.footer-bottom {
  background-color: #1f1e1e;
  text-align: center;
  padding: 45px 0 25px;
}

.footer-menu a {
  font-size: 0.875rem;
  line-height: 1.875rem;
  padding: 0 15px;
  color: #ffffff;
}

.copyright {
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #ffffff;
}


































